{% extends 'base.html' %}
{% block title %}
Sign in
{% endblock %}
    {% block content %}
     
      <div class = "container-sm  p-2 mt-5">
      <div class=" d-flex flex-column justify-content-center align-items-center" style="padding-top: 80px;">
      <form action="" method="post">
          {% for message in messages %}
          <div> {{ message }} </div>
          {% endfor %}
          {{ form.hidden_tag() }}
          <div class="mb-3"><h4>Sign in</h4></div>
          <div class="mb-3">
            <label for="loginform" class="form-label fw-light">Email address</label>
              {{ form.email(size=32,placeholder="email@gmail.com", class="form-control") }}
              {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </div>
          <div class="mb-3">
            <label for="loginform" class="form-label fw-light">Password</label>
              {{ form.password(size=32,placeholder="password*$%!@", class="form-control") }}

              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </div>
          <div class="mb-3 form-check">
            {{ form.remember(class="form-check-input") }} {{ form.remember.label(class="form-check-label fw-light") }}
        </div>
          <div class="mb-3">{{ form.submit(class_="form-control bg-dark text-light") }}</div>
      </form>
      <div class="fw-light"><a href="{{ url_for('forgot_password') }}" class="text-reset">Forgot your password? </a> </div>
      <div class="fw-light "><a href="{{ url_for('register') }}" class="text-reset">Don't have an account? Sign up </a></div>
    </div>
</div>
{% endblock %}
