{% extends 'base.html' %}
{% block title %}
Privacy Policy
{% endblock %}
{% block content %}
<div class="container pt-2 mt-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>
                <div>
                    <h3>Privacy policy</h3>
                </div>
                <div>
                    <p class="lead">We are committed to protecting the privacy of our users. This Privacy Policy
                        outlines the types of information we collect, how we use and protect it, and the choices you
                        have regarding your personal information. By accessing or using our website, you agree to the
                        terms and practices described in this policy.</p>

                    <p><strong> Information We Collect:</strong></p>

                    <li>Personal Information: When you register on our website, we collect your email address for the
                        purpose of registration and communication with you.</li>
                    <li>Usage Information: We may collect non-personal information such as your IP address, browser
                        type, and device information to analyze website usage and improve our services.</li>
                    <li>Chat Data: We send user inputs (SAS code) to ChatGPT during your session to facilitate the
                        translation process. However, we do not retain this data once the session is completed.</li>

                    <p class="mt-3"><strong>Use of Information:</strong></p>

                    <li>Personal Information: We use your email address to send important updates, notifications, and
                        respond to your inquiries.</li>
                    <li>Usage Information: We analyze usage data to understand how our website is accessed and used, and
                        to improve its performance and user experience.</li>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}