{% extends 'base.html' %}
{% block title %}
Privacy Policy
{% endblock %}
{% block content %}
<div class="container pt-2 mt-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
    <div>
        <h3>Terms of Service</h3>
    </div>
    <div>
        <p class="lead">Please read these Terms of Service ("Terms") carefully before using this website (referred to as
            "the website," "we," "us," or "our"). These Terms govern your access to and use of the website and any
            services or information provided through the website.</p>

        <p><strong> Acceptance of Terms:</strong></p>
        <li>You agree to use the website only for lawful purposes and in compliance with these Terms.</li>
        <li>You are responsible for maintaining the confidentiality of your account information and are liable for any activities that occur under your account.</li>
    <p class="mt-2"><strong>Limitations of Liability:</strong></p>
    <li>The website and its content are provided on an "as is" and "as available" basis. We do not guarantee the accuracy, completeness, or reliability of the content or the availability of the website.</li>
<li>In no event shall <a href="www.themodeladvantage.com">The Model Advantage</a> be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with your use of the website.</li>

    </div>
</div>
</div>
</div>
{% endblock %}